{% comment %}<head>{% endcomment %}
    {% comment %}<meta charset="utf-8">{% endcomment %}
    {% comment %}...{% endcomment %}

    {% comment %}{% unless page.no_latex %}{% endcomment %}
        {% comment %}{% include latex.html %}{% endcomment %}
    {% comment %}{% endunless %}{% endcomment %}
{% comment %}</head>{% endcomment %}

<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
        tex2jax: {
        skipTags: ['script', 'noscript', 'style', 'textarea', 'pre'],
        inlineMath: [['$','$']]
        }
    });
</script>
<script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
